*{
  padding:0;
  margin:0;
  color:white;
}

#navbar{
    height:60px;
    background-color: #0f1111;
}

button{
    background-color: azure;
}
#logo{
    color: yellow;
}
a{
    color: aqua;
}
button{
    color: #0f1111;
}

a{
    margin-right: 50px;
    text-decoration: none;
}